a {
    text-decoration: none;
    margin: 0px 15px;
    color:var(--lilla);
}
.container {
    margin-top:8px;
}
.active-label {
    border-bottom: 3px var(--acqua) solid;
    color: var(--violachiaro);
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .justify-content-center{
        justify-content: flex-start !important;
    }    
}