<div class="link-footer">
  <ul>
    <li class="link-title">ABOUT</li>
    <li><a href="https://docs.pancakeswap.finance/contact-us" target="_blank">Contact</a>
    <li><a href="https://docs.pancakeswap.finance/brand" target="_blank">Brand</a></li>
    <li><a href="https://medium.com/pancakeswap" target="_blank">Blog</a></li>
    <li><a href="https://docs.pancakeswap.finance/contact-us/telegram" target="_blank">Community</a></li>
    <li><a href="https://docs.pancakeswap.finance/tokenomics/cake" target="_blank">CAKE Token</a></li>
    <!-- Separation_icon placeholder -->
    <li style="color: white;">--</li>
    <li class="store"><a href="https://pancakeswap.creator-spring.com/" target="_blank">Online Store</a></li>
  </ul>
  <ul>
    <li class="link-title">HELP</li>
    <li><a href="https://docs.pancakeswap.finance/contact-us/customer-support" target="_blank"> Customer Support </a></li>
    <li><a href="https://docs.pancakeswap.finance/help/troubleshooting" target="_blank">Troubleshooting</a></li>
    <li><a href="https://docs.pancakeswap.finance/get-started" target="_blank">Guides</a></li>
  </ul>
  <ul>
    <li class="link-title">DEVELOPERS</li>
    <li><a href="https://github.com/pancakeswap" target="_blank">Github</a></li>
    <li><a href="https://docs.pancakeswap.finance/" target="_blank">Documentation</a></li>
    <li><a href="https://docs.pancakeswap.finance/code/bug-bounty" target="_blank">Bug Bounty</a></li>
    <li><a href="https://docs.pancakeswap.finance/help/faq#is-pancakeswap-safe-has-pancakeswap-been-audited" target="_blank">Audits</a>
    </li>
    <li><a href="https://docs.pancakeswap.finance/hiring/become-a-chef" target="_blank">Careers</a></li>
  </ul>
  <app-footer-logo></app-footer-logo>
</div>
