.card-container {
  flex-wrap: wrap;
  margin: 0 12px 46px;
  justify-content: space-around;
  color: var(--violascuro);
}

.card {
  width: 350px;
  min-height: 385px;
  margin-bottom: 50px;
  background: var(--cardsbg) none repeat scroll 0% 0%;
  border-radius: 24px;
  border-bottom-width: 3px;
}

.card-top {
  background: rgba(0, 0, 0, 0) linear-gradient(111.68deg, var(--wallet1) 0%, var(--wallet2) 100%) repeat scroll 0% 0%;
  border-radius: 24px 24px 0px 0px;
  padding: 15px;
  padding-right: 30px;
}

.card-top p:first-of-type {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--violachiaro);
  margin-bottom: 0;
  padding-top: 10px;
}

.card-top p {
  padding-left: 10px;
  width: fit-content;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  color: var(--lilla)
}

.border-bot {
  border-bottom: 1px solid var(--border);
}

.tokens {
  max-height: 40px;
  max-width: 40px;
  width: 92%;
  inset: 0px auto auto 0px;
  z-index: 3;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.tokens::before,
.big-token::before,
.small-token::before {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0px;
  /* position: absolute; */
  top: 0px;
  width: 100%;
  z-index: 7;
}

.tokens::after,
.big-token::after,
.small-token::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.big-token {
  position: absolute;
  width: 92%;
  inset: 0px auto auto 0px;
  z-index: 5;
}

.big-token img,
.big-token svg {
  width: 58px;
  height: 58px;
}

.small-token {
  position: absolute;
  width: 50%;
  inset: auto 0px 0px auto;
  z-index: 6;
  max-height: 9px;
  max-width: 10px;
}

.small-token svg {
  width: 32px;
  height: 32px;
}

.connect-wallet>p {
  color: var(--lilla);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
}

.btn-section {
  width: 90%;
}

.card-middle p:first-of-type {
  text-decoration: underline dotted var(--lilla);
}

div.bottom {
  display: inline-flex;
}

div.bottom .manual {
  color: var(--lilla);
  border: 2px solid var(--violachiaro);
  border-radius: 16px;
  padding: 1px 9px;
  height: fit-content;
  font-size: 14px;
}

.details {
  position: relative;
  /* left: 78%; */
  padding-right: 10px;
}

.details-btn {
  height: min-content;
  color: var(--acqua);
  font-weight: bold;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}
