.last_section {
    background: rgb(90, 50, 180);
    display: flex;
    justify-content: center;
    height: 430px;
    column-gap: 5%;
    overflow: hidden;
}
  
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

h2 {
    margin-bottom: 24px;
}
  
.pbold {
    font-weight: 600;
    margin-bottom: 24px;
}

button {
  z-index: 2;
}
  
a {
    font-weight: 600;
    color: var(--acqua);
    text-decoration: none;
    margin-bottom: 24px;
    z-index: 2;
}

a:hover {
  text-decoration: underline;
}

.ray {
  position: absolute;
}

.ray svg {
  width: 1500px;
}

.bottomRight {
  margin-top: 160px;
}

@media screen and (max-width: 852px) {
  .coins {
    display: none;
  }
}