
<section class="last_section">
    <div class="animation-start1">
        <div class="first-start">
            <img src="../../../../../assets/images/home/start/1-bottom.png" alt="bottom-right">
        </div>
        <div class="second-start">
            <img src="../../../../../assets/images/home/start/1-left.png" alt="top-right">
        </div>
        <div class="third-start">
            <img src="../../../../../assets/images/home/start/1-top.png" alt="coin">
        </div>
    </div>
    <div class="flex_container">
        <h2>Start in seconds.</h2>
        <p>Connect your crypto wallet to start using the app in seconds.</p>
        <p class="pbold">No registration needed.</p>
        <a href="#">Learn how to start</a>
        <button class="btn-section">Connect Wallet</button>
    </div>
    <div class="animation-start2">
        <div class="first-start">
            <img src="../../../../../assets/images/home/start/2-bottom.png" alt="bottom-right">
        </div>
        <div class="second-start">
            <img src="../../../../../assets/images/home/start/2-top.png" alt="top-right">
        </div>
        <div class="third-start">
            <img src="../../../../../assets/images/home/start/2-right.png" alt="coin">
        </div>
    </div>
</section>
