header {
  margin: auto ;
  max-width: 1152px;
}

header * {
  margin: 0px 10px;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}

button svg {
  width: 20px;
  height: 20px;
  fill: rgb(189, 194, 196);
}

.btn-switch {
  margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--harvest);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-color: var(--cardsbg);
}

.slider:hover:before {
  box-shadow: var(--violachiaro) 0 0 0 4px;
}

input:checked+.slider {
  background-color: rgb(49, 208, 170);
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: var(--cardsbg);
}

span {
  color: var(--violascuro);
}
span.staked-text {
  min-width: max-content;
}
div.ms {
  margin-left: 20%;
}

div.container p {
  width: fit-content;
}

div.container {
  width: fit-content;
}

div.container>p {
  font-size: 12px;
  color: var(--violascuro)
}

.double-btn {
  background-color: var(--search);
  border: 1px solid var(--secondsection2);
  border-radius: 40px;
  padding: 5px;
}

.double-btn a {
  color: var(--lilla);
}

#dropdown {
  margin: 0;
  padding: 5px;

  border: 1px solid var(--secondsection2);
  border-radius: 40px;
  width: 168px;
  color: var(--violascuro);
  background-color: var(--search);
  font-weight: 400;
}

.search-bar {
  background-color: var(--search);
  border: 1px solid var(--secondsection2);
  color: var(--violascuro);
  border-radius: 40px;
  padding: 8px;
}