<div class="link-footer">
  <ul>
    <li class="link-title">ABOUT</li>
    <li><a href="https://docs.pancakeswap.finance/contact-us">Contact</a>
    <li><a href="https://docs.pancakeswap.finance/brand">Brand</a></li>
    <li><a href="https://medium.com/pancakeswap">Blog</a></li>
    <li><a href="https://docs.pancakeswap.finance/contact-us/telegram">Community</a></li>
    <li><a href="https://docs.pancakeswap.finance/tokenomics/cake">CAKE Token</a></li>
    <!-- Separation_icon placeholder -->
    <li style="color: white;">--</li>
    <li class="store"><a href="https://pancakeswap.creator-spring.com/">Online Store</a></li>
  </ul>
  <ul>
    <li class="link-title">HELP</li>
    <li><a href="https://docs.pancakeswap.finance/contact-us/customer-support"> Customer Support </a></li>
    <li><a href="https://docs.pancakeswap.finance/help/troubleshooting">Troubleshooting</a></li>
    <li><a href="https://docs.pancakeswap.finance/get-started">Guides</a></li>
  </ul>
  <ul>
    <li class="link-title">DEVELOPERS</li>
    <li><a href="https://github.com/pancakeswap">Github</a></li>
    <li><a href="https://docs.pancakeswap.finance/">Documentation</a></li>
    <li><a href="https://docs.pancakeswap.finance/code/bug-bounty">Bug Bounty</a></li>
    <li><a href="https://docs.pancakeswap.finance/help/faq#is-pancakeswap-safe-has-pancakeswap-been-audited">Audits</a>
    </li>
    <li><a href="https://docs.pancakeswap.finance/hiring/become-a-chef">Careers</a></li>
  </ul>
  <app-footer-logo></app-footer-logo>
</div>
