.first_section {
  display: flex;
  justify-content: center;
  padding: 48px 24px;
  background: linear-gradient(to left top, var(--firstsection1), var(--firstsection2));
  position: relative;
}

.animation {
  width: 576px;
  height: 576px;
}

svg {
  position: absolute;
  fill: var(--svg);
  opacity: 0.6;
  bottom: 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 576px;
  height: 576px;
  z-index: 1;
}

.btn-section {
  margin-right: 8px;
}

h1 {
  color: var(--violachiaro);
  margin-bottom: 24px;
}

h3 {
  color: var(--violascuro);
  margin-bottom: 24px;
}

@media screen and (max-width: 852px) {
  .first_section {
    flex-direction: column-reverse;
  }

  .text {
    width: initial;
    height: initial;
  }

  .animation {
    width: 192px;
    height: 192px;
    align-self: flex-end;
  }

  h1 {
    font-size: 48px;
  }
}
