.first_section {
    display: flex;
    justify-content: center;
    padding: 48px 24px;
    background: linear-gradient(to left top,rgb(241,242,255), rgb(230,253,255));
    position: relative;
}

svg {
    position: absolute;
    fill: white;
    bottom: 0;
}

.buttons {
    z-index: 1;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 576px;
  height: 576px;
}

.btn-section {
    margin-right: 8px;
}

h1 {
    color: var(--violachiaro);
    margin-bottom: 24px;
}

h3 {
    color: var(--violascuro);
    margin-bottom: 24px;
}