.first_section {
    display: flex;
    justify-content: center;
    padding: 48px 24px;   
}

svg {
    position: absolute;
    transform: rotate(180deg);
    height: 650px;
    z-index: -2;
    fill: aliceblue;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 576px;
  height: 576px;
}

.btn-section {
    margin-right: 8px;
}

h1 {
    color: var(--violachiaro);
    margin-bottom: 24px;
}

h3 {
    color: var(--violascuro);
    margin-bottom: 24px;
}