.animation-start {
    width: 256px;
    height: 256px;
}
  
.first-start img {
    position: absolute;
    animation: 3s ease-in-out 1s infinite normal none running first;
    width: 256px;
} 
  
.second-start img {
    position: absolute;
    animation: 3s ease-in-out 0.66s infinite normal none running second;
    width: 256px;
}
  
.third-start img {
    position: absolute;
    animation: 3s ease-in-out 0.33s infinite normal none running third;
    width: 256px;
}