.pools-section-header { 
    display: flex; 
    align-items: flex-start; 
    justify-content: left;
    padding: 32px 310px; 
    background: rgba(0, 0, 0, 0) linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%) repeat scroll 0% 0%;; 
} 

.title-header { 
    color: var(--violachiaro); 
    margin: 0 0 24px 0;
} 

.subtitle { 
    color: var(--violascuro); 
    margin: 0; 
}
.center {
    position:absolute;
    margin: 0 auto;
}