* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: var(--bg-color);
}

/*Colori*/
:root {
  --violachiaro: #7645d9;
  --violascuro: #280D5F;
  --lilla: rgb(122, 110, 170);
  --acqua: #1fc7d4;
  --rosa: #ed4b9e;
  --ocra: #cd9234;
  --bg-color: #FFFFFF;
  --firstsection1: rgb(241, 242, 255);
  --firstsection2: rgb(230, 253, 255);
  --svg: white;
  --secondsection1: rgb(249, 250, 255);
  --secondsection2: rgb(215, 202, 236);
  --fourthsection: rgb(240, 240, 245);
  --fifthsection1: rgb(111, 182, 241);
  --fifthsection2: rgb(234, 242, 246);
  --exteriorcontainer: rgba(255, 255, 255, 0.6);
  --border: rgb(231, 227, 235);
  --boxshadow: #AAAAAA;
  --cardsbg: white;
  --logo: black;
  --wallet1: rgb(229, 253, 255);
  --wallet2: rgb(243, 239, 255);
  --harvest: rgb(233, 234, 235);
  --search: rgb(238, 234, 244);
}

[data-theme="dark"] {
  --violachiaro: #7645d9;
  --violascuro: #FFFFFF;
  --lilla: rgb(184, 173, 210);
  --acqua: #1fc7d4;
  --rosa: #ed4b9e;
  --ocra: #cd9234;
  --bg-color: #08060B;
  --firstsection1: rgb(25, 19, 38);
  --firstsection2: rgb(29, 22, 48);
  --svg: #09070E;
  --secondsection1: #0F0C17;
  --secondsection2: #201335;
  --fourthsection: #3B374B;
  --fifthsection1: #0B4576;
  --fifthsection2: #091115;
  --exteriorcontainer: rgb(9, 28, 48, 0.6);
  --border: rgb(56, 50, 65);
  --boxshadow: #383241;
  --cardsbg: #27262C;
  --logo: white;
  --wallet1: #323C5B;
  --wallet2: #3C2B54;
  --harvest: #3C3742;
  --search: #372f47;
}

.w100 {
  width: 100%;
}

/*Font*/

/*Titolo*/
h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
}

/*Titolo sezione*/
h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

/*Sottotitolo e Top*/
h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

/*Paragrafo e APR*/
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*Paragrafo bold*/
.pbold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/*Percentuale*/
.perc {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

/*Valuta*/
h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

/*Statistiche*/
.stat {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}


/* Buttons */

button {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.btn-section {
  background-color: var(--acqua);
  color: white;
  text-align: center;
  border: 0;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  padding: 0 24px;
  height: 48px;
}

.btn-section:hover {
  opacity: 0.7;
}

.btn-white {
  background-color: transparent;
  color: var(--acqua);
  text-align: center;
  border: 2px solid var(--acqua);
  border-radius: 16px;
  box-shadow: none;
  padding: 0 24px;
  height: 48px;
}

.btn-white:hover {
  opacity: 0.7;
}

.buttons a {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-left: 16px;
  color: var(--acqua);
  text-decoration: none;
}

.buttons a:hover {
  text-decoration: underline;
}

/*Cards*/
/* Containers */
/* Struttura cards*/

/* Tilted cards */
/* Tilted cards backgrounds */
.tilted-card {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 178, 55) 0%,
      rgb(255, 205, 81) 51.17%,
      rgb(255, 231, 106) 100%);
  transform: rotate(-2.36deg);
}

.tilted-card2 {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%) repeat scroll 0% 0%;
  transform: rotate(1.43deg);
}

/* Formattazione testo*/
/* Colori */
.tilted-card p,
.tilted-card h2 {
  color: var(--violascuro);
}

.tilted-card2 p {
  color: white;
}

.tilted-card2 h2 {
  color: rgb(255, 178, 55);
}

/* Spazi */
div .tilted-card,
.tilted-card2 {
  height: fit-content;
}

.tilted-card #p1,
.tilted-card2 #p1 {
  margin-top: 48px;
  vertical-align: top;
}

.tilted-card h2,
.tilted-card2 h2 {
  margin: 8px 0px;
}

.tilted-card #p2,
.tilted-card2 #p2 {
  margin-bottom: 24px;
}

.tilted-card #p3,
.tilted-card2 #p3 {
  margin-bottom: 40px;
}

.tilted-card .riempitivo,
.tilted-card2 .riempitivo {
  width: 240px;
  height: 55px;
  border: 1px black solid;
}

/*Formattazione SVG tilted cards */
.tilted-card svg,
.tilted-card2 svg {
  position: absolute;
}

.tilted-card2 svg {
  fill: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(122, 110, 170);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  border-radius: 10px;
}
