<svg viewBox="0 0 1660 48"><path d="M1660 48C1139.02 46.1887 336.256 15.2453 0 0H1660V48Z"/></svg>
<div class="fourth_section">
    <div class="flex_container">
        <app-bunny-bitcoins [img]="stats"></app-bunny-bitcoins>
        <div class="text">
            <h2><span>Earn</span> passive income with crypto.</h2>
            <p>PancakeSwap makes it easy to make your crypto work for you.</p>
            <div class="buttons">
                <button class="btn-section">Explore</button>
                <a href="https://docs.pancakeswap.finance/" target="_blank">Learn</a>
            </div>
        </div>
    </div> 
    <app-crypto-stats></app-crypto-stats>  
</div>

