.fourth_section {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    margin: 48px 0;
    background-color: rgb(240, 240, 245)
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  height: 430px;
}

h2 {
    color: var(--violascuro);
    margin-bottom: 24px;
}

span {
    color: var(--violachiaro);
}

.fourth_section p {
    color: var(--lilla);
    margin-bottom: 24px;
}