<div class="animation">
    <div class="bunny_img">
        <img src="assets/images/home/lunarbunny/bunny.png" alt="lunarbunny" class="w100">
    </div>
    <div class="star1">
        <img src="assets/images/home/lunarbunny/star-l.png" alt="star1" class="w100">
    </div>
    <div class="star-r">
        <img src="assets/images/home/lunarbunny/star-r.png" alt="star-r" class="w100">
    </div>
    <div class="star-top">
        <img src="assets/images/home/lunarbunny/star-top-r.png" alt="star-top-r" class="w100">
    </div>
</div>